body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    min-width: auto;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    background-color: rgb(214, 214, 214);
    border-radius: 15px;
}

.display {
    width: 340px;
    height: 110px;
    border-radius: 15px;
    background-color: rgb(59, 59, 59);
    color: white;
    font-size: 58px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    padding:5px 10px;
}

.buttons {
    display: flex;
}

.top-operations {
    display: flex;
}

.data {
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.operations {
    display: flex;
    flex-direction: column;
}

.data-input, .operator {
    width: 90px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 30px;
    font-weight: bold;
    transition: all 0.6s ease;
}

.data-input:hover, .operator:hover {
    cursor: pointer;
}

.data-input {
    border-color: rgb(97, 97, 97);
    background-color: rgb(97, 97, 97);
    color: white;
}

.operator {
    border-color: rgb(255, 185, 185);
    background-color: rgb(255, 185, 185);
}

.data-input:hover {
    transition: none;
    border-color: rgb(49, 49, 49);
    background-color: rgb(49, 49, 49);
}

.operator:hover {
    transition: none;
    border-color: rgb(255, 134, 134);
    background-color: rgb(253, 134, 134);
}

.selected {
    background-color: white;
    border-color: white;
    color: rgb(255, 214, 214);
}
